@font-face {
  font-family: "Open Sans";
  src: local("Open Sans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 50px;
}

.stop {
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.menu-top {
  padding: 30px 0;
  background: #000000;
}

.menu-top__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__btn {
  display: none;
}

.menu-top__bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.menu-top__links {
  display: flex;
}

.menu-top__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  outline: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu-top__link:not(:last-child) {
  margin-right: 62px;
}

.menu-top__main {
  margin-right: 179px;
  outline: none;
}

.menu-top__link:focus {
  background-color: #7943a4;
  box-shadow: 0 0 0 3px #7943a4;
}

.menu-top__link:hover {
  color: #c283f3;
  box-shadow: none;
  background-color: transparent;
}

.menu-top__link:active {
  color: #7943a4;
  background-color: transparent;
  box-shadow: none;
}

.menu-top__auth {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  outline: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu-top__authpic {
  margin-right: 7px;
}

.menu-top__auth:focus {
  background-color: #7943a4;
  box-shadow: 0 0 0 3px #7943a4;
}

.menu-top__auth:hover {
  color: #c283f3;
  background-color: transparent;
  box-shadow: none;
}

.menu-top__auth:hover path {
  fill: #c283f3;
}

.menu-top__auth:active {
  color: #7943a4;
  background-color: transparent;
  box-shadow: none;
}

.menu-top__auth:active path {
  fill: #7943a4;
}

.menu-top__search {
  display: none;
}

.menu-top__form {
  display: none;
  align-items: flex-end;
  padding: 1px 50px 6px 52px;
}

.menu-top__find {
  margin-right: 10px;
  width: 30px;
  height: 29px;
  outline: none;
}

.menu-top__input {
  padding-bottom: 2px;
  margin-right: 24px;
  width: 218px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu-top__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.menu-top__input:focus {
  border-color: #c283f3;
}

.menu-top__input:hover {
  border-color: #c283f3;
}

.menu-top__input:active {
  border-color: #7943a4;
}

.menu-top__close {
  outline: none;
}

.menu-top__line {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu-top__close:focus .menu-top__line {
  fill: #9d5cd0;
}

.menu-top__close:hover .menu-top__line {
  fill: #9d5cd0;
}

.menu-top__close:active .menu-top__line {
  fill: #7943a4;
}

.menu-bottom {
  padding: 19px 0;
  background: rgba(0, 0, 0, 0.4);
}

.menu-bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bottom__list {
  display: flex;
  align-items: center;
}

.menu-bottom__item {
  position: relative;
}

.menu-bottom__item:not(:last-child) {
  margin-right: 99px;
}

.menu-bottom__btn {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  outline: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu-bottom__btn-active {
  color: #7943a4;
  background-color: transparent;
}

.menu-bottom__btn-active path {
  stroke: #7943a4;
  transform: translate(100%, 100%) rotate(180deg);
}

.menu-bottom__btn:focus {
  background-color: #7943a4;
}

.menu-bottom__btn-active:focus {
  background-color: transparent;
}

.menu-bottom__btn:hover {
  color: #9d5cd0;
  background-color: transparent;
}

.menu-bottom__btn:hover path {
  stroke: #9d5cd0;
}

.menu-bottom__btn:active {
  color: #7943a4;
  background-color: transparent;
}

.menu-bottom__btn:active path {
  stroke: #7943a4;
  transform: translate(100%, 100%) rotate(180deg);
}

.menu-bottom__era {
  margin-right: 2px;
}

.menu-bottom__dropdown {
  position: absolute;
  left: 0;
  top: 41px;
  padding: 40px;
  padding-right: 19px;
  width: 300px;
  max-height: 300px;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0.8);
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: transform, visibility, opacity;
}

.menu-bottom__dropdown-active {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.menu-bottom__authors {
  width: 220px;
  max-height: 220px;
}

.menu-bottom__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 9px 14px 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  outline: none;
  border: none;
  transition: 0.3s;
}

.menu-bottom__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.menu-bottom__link:focus {
  box-shadow: inset 0 0 0 2px #9d5cd0;
}

.menu-bottom__link:hover {
  box-shadow: inset 0 0 0 2px #9d5cd0;
}

.menu-bottom__link:active::after {
  background-color: rgba(194, 131, 243, 0.4);
  box-shadow: none;
}

.menu-bottom__author:not(:last-child) {
  margin-bottom: 20px;
}

.menu-bottom__author-tintoretto {
  background-image: url(../img/background/dropdowns/realism/realism1.jpg);
}

.menu-bottom__author-fridrich {
  background-image: url(../img/background/dropdowns/realism/realism2.jpg);
}

.menu-bottom__author-leonardo {
  background-image: url(../img/background/dropdowns/realism/realism3.jpg);
}

.menu-bottom__author-verrokio {
  background-image: url(../img/background/dropdowns/realism/realism4.jpg);
}

.menu-bottom__author-mone {
  background-image: url(../img/background/dropdowns/impresionism/impresionism1.jpg);
}

.menu-bottom__author-sislay {
  background-image: url(../img/background/dropdowns/impresionism/impresionism2.jpg);
}

.menu-bottom__author-mane {
  background-image: url(../img/background/dropdowns/impresionism/impresionism3.jpg);
}

.menu-bottom__author-reanuar {
  background-image: url(../img/background/dropdowns/impresionism/impresionism4.jpg);
}

.menu-bottom__author-vangog {
  background-image: url(../img/background/dropdowns/postimpresionism/postimpresionism1.jpg);
}

.menu-bottom__author-sezann {
  background-image: url(../img/background/dropdowns/postimpresionism/postimpresionism2.jpg);
}

.menu-bottom__author-gogen {
  background-image: url(../img/background/dropdowns/postimpresionism/postimpresionism3.jpg);
}

.menu-bottom__author-syora {
  background-image: url(../img/background/dropdowns/postimpresionism/postimpresionism4.jpg);
}

.menu-bottom__author-kandinsky {
  background-image: url(../img/background/dropdowns/avangard/avangard1.jpg);
}

.menu-bottom__author-marinetti {
  background-image: url(../img/background/dropdowns/avangard/avangard2.jpg);
}

.menu-bottom__author-malevich {
  background-image: url(../img/background/dropdowns/avangard/avangard3.jpg);
}

.menu-bottom__author-picasso {
  background-image: url(../img/background/dropdowns/avangard/avangard4.jpg);
}

.menu-bottom__author-karra {
  background-image: url(../img/background/dropdowns/futurism/futurism1.jpg);
}

.menu-bottom__author-pratella {
  background-image: url(../img/background/dropdowns/futurism/futurism2.jpg);
}

.menu-bottom__author-severini {
  background-image: url(../img/background/dropdowns/futurism/futurism3.jpg);
}

.menu-bottom__author-balla {
  background-image: url(../img/background/dropdowns/futurism/futurism4.jpg);
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background: white;
}

.simplebar-scrollbar {
  background: black;
}

.simplebar-track {
  right: -19px;
}

.menu-bottom__search {
  display: flex;
  align-items: center;
}

.menu-bottom__label {
  margin-right: 9px;
  background-color: transparent;
  cursor: pointer;
}

.menu-bottom__input {
  padding-bottom: 2px;
  width: 218px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu-bottom__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.menu-bottom__input:focus {
  border-color: #c283f3;
}

.menu-bottom__input:hover {
  border-color: #c283f3;
}

.menu-bottom__input:active {
  border-color: #7943a4;
}

.subscribe {
  position: relative;
  overflow: hidden;
  padding: 233px 0 122px;
  background-color: black;
}

.subscribe__slider{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.subscribe__slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.subscribe__slide-first{
  background-image: url("../img/background/subscribe.jpg");
}

.subscribe__slide-second{
  background-image: url("../img/background/subscibe2.jpg");
}

.subscribe__slide-third{
  background-image: url("../img/background/subscibe3.jpg");
}

.subscribe__container{
  position: relative;
  z-index: 2;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribe__title {
  max-width: 597px;
  margin: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #ffffff;
}

.subscribe__text {
  max-width: 555px;
  margin-bottom: 88px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.subscribe__btn {
  padding: 23px 35px;
  background: #9d5cd0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  outline-color: #c283f3;
}

.subscribe__btn:focus-visible {
  outline: 2px solid #c283f3;
  outline-offset: 5px;
}

.subscribe__btn:hover:not(:focus-visible) {
  box-shadow: 0 0 0 3px #d1a9f0;
}

.subscribe__btn:active,
.subscribe__btn:active:not(:focus-visible) {
  background: #7943a4;
  outline: none;
}

.about {
  padding: 80px 0 70px;
}

.about__content {
  max-width: 1080px;
}

.subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.gallery {
  padding: 80px 0;
  background-image: url("../img/gallery/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.gallery-modal.opened {
  opacity: 1;
  visibility: visible;
}

.gallery-modal__content {
  position: relative;
  padding-left: 400px;
  max-width: 900px;
  min-height: 500px;
  background: #ffffff;
  background-image: url("../img/gallery/modal/gallery_malevich.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.gallery-modal__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
}

.gallery-modal__line {
  transition: 0.3s ease;
}

.gallery-modal__btn:focus .gallery-modal__line,
.gallery-modal__btn:hover .gallery-modal__line {
  fill: #9d5cd0;
}

.gallery-modal__btn:active .gallery-modal__line {
  fill: #7943a4;
}

.gallery-modal__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 121px 50px 121px 48px;
}

.gallery-modal__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.gallery-modal__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.gallery-modal__ages {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.gallery-modal__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.gallery__content {
  display: flex;
}

.gallery-left {
  display: flex;
  margin-right: 50px;
  max-width: 400px;
}

.gallery__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gallery-left__subtitle {
  color: #ffffff;
}

.gallery-left__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 176px;
}

.gallery-left__filter {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.choices {
  width: 400px;
  color: #ffffff;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.choices:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.choices__inner {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  min-height: 40px;
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 0;
}

.is-focused {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.is-focused.is-open {
  background: transparent;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list--single {
  padding: 0;
}

.choices__item {
  padding: 0 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: #ffffff;
}

.choices[data-type*="select-one"].is-open::after {
  top: 20px;
  right: 15px;
  margin: 0;
  z-index: 2;
  border: none;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #fff;
  transform: rotate(-225deg);
}

.choices[data-type*="select-one"]::after {
  top: 15px;
  right: 15px;
  margin: 0;
  z-index: 2;
  border: none;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #fff;
  transform: rotate(-45deg);
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: 3;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 4px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.choices .choices__list.choices__list--dropdown .is-selected {
  display: none;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.gallery-left__checkboxes {
  display: flex;
  flex-direction: column;
}

.gallery-left__time {
  position: relative;
  display: flex;
  width: fit-content;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  cursor: pointer;
}

.gallery-left__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.gallery-left__type {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.gallery-left__type::before {
  content: "";
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  transition: border-color 0.3s ease;
}

.gallery-left__checkbox:checked ~ .gallery-left__type::before {
  border-color: #c283f3;
}

.gallery-left__type::after {
  content: "●";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: transparent;
  font-size: 10px;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.gallery-left__checkbox:focus ~ .gallery-left__type {
  color: #c283f3;
}

.gallery-left__checkbox:focus ~ .gallery-left__type::before {
  border-color: #c283f3;
}

.gallery-left__checkbox:hover ~ .gallery-left__type::before {
  border-color: #c283f3;
}

.gallery-left__checkbox:checked ~ .gallery-left__type::after {
  opacity: 1;
}

.gallery-left__checkbox:checked ~ .gallery-left__type {
  color: #c283f3;
}

.gallery-right {
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gallery-right__button {
  position: static;
  margin: 0;
  height: 100%;
}

.gallery-right__page {
  position: static;
  width: fit-content;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.gallery-right__buttons {
  display: flex;
  align-items: center;
  padding: 24px 3px 0;
  margin-bottom: 30px;
}

.gallery-right__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
}

.gallery-right__border,
.gallery-right__fill {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.gallery-right__button:focus .gallery-right__border {
  stroke: black;
  stroke-width: 2px;
}

.gallery-right__button:hover .gallery-right__fill {
  fill: #9d5cd0;
}

.gallery-right__button:hover .gallery-right__border {
  stroke: #9d5cd0;
}

.gallery-right__button:active .gallery-right__fill {
  fill: #9d5cd0;
}

.gallery-right__button:active .gallery-right__border {
  stroke: black;
  stroke-width: 2px;
}

.gallery-right__button-prev {
  margin-right: 19px;
}

.gallery-right__page {
  margin-right: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.gallery__wrapper {
  height: 350px;
}

.gallery__slide {
  position: relative;
  height: fit-content;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  outline: none;
}

.gallery__wrap {
  max-width: 350px;
  cursor: pointer;
}

.gallery__wrap::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.gallery__wrap::after {
  content: url("../img/fullphoto.svg");
  position: absolute;
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.gallery-right__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.gallery__wrap:hover::before {
  opacity: 1;
}

.gallery__wrap:hover::after {
  opacity: 1;
  background-color: transparent;
}

.gallery__wrap:active::before {
  opacity: 1;
}

.gallery__wrap:active::after {
  opacity: 1;
  background-color: rgba(194, 131, 243, 0.4);
}

.catalog {
  padding: 80px 0;
}

.catalog__text {
  max-width: 1080px;
  margin-bottom: 39px;
}

.catalog__left {
  display: none;
  flex-grow: 1;
  max-width: 750px;
  width: 50%;
  margin-right: 50px;
}

.catalog__left-active {
  display: block;
}

.catalog__photo {
  width: 100%;
  margin-bottom: 26px;
}

.catalog__name {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.catalog__lives {
  margin-bottom: 13px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__content {
  display: flex;
}

.catalog__right {
  max-width: 800px;
  width: 50%;
  flex-grow: 1;
}

.catalog-desc {
  padding: 23px 0 25px;
  border-top: 1px solid #cacaca;
}

.catalog-desc__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 0 60px;
}

.catalog-desc__item {
  width: fit-content;
}

.catalog-desc__author {
  display: block;
  width: fit-content;
  outline: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.catalog-desc__author:focus {
  background-color: #9d5cd0;
}

.catalog-desc__author:hover {
  box-shadow: inset 0 -11px 0 -10px #9d5cd0;
}

.catalog-desc__author:active {
  border: none;
  background-color: transparent;
}

.catalog__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  outline: none;
  cursor: pointer;
}

.catalog-btn__fill,
.catalog-btn__border,
.catalog-btn {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.ui-state-focus .catalog__title {
  background-color: #9d5cd0;
  color: white;
}

.ui-state-focus .catalog-btn__fill {
  fill: #d1a9f0;
}

.ui-state-hover .catalog__title {
  background-color: transparent;
  color: #9d5cd0;
}

.ui-state-hover .catalog-btn__fill {
  fill: #d1a9f0;
}

.ui-state-active {
  border-top-color: #7943a4;
}

.ui-state-active .catalog__title {
  color: #7943a4;
  background-color: transparent;
}

.ui-state-active .catalog-btn__fill {
  fill: #d1a9f0;
}

.ui-state-active .catalog-btn__border {
  stroke: #9d5cd0;
  stroke-width: 2px;
}

.ui-state-active .catalog-btn {
  transform: rotate(180deg);
}

.ui-accordion-content-active {
  border-top-color: #9d5cd0;
}

.catalog__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.catalog__era {
  border-top: 1px solid #cacaca;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.catalog__era:last-child {
  border-bottom: 1px solid #cacaca;
}

.catalog__era:last-child:hover {
  border-color: #9d5cd0;
}

.catalog__era:hover {
  border-top-color: #9d5cd0;
}

.catalog__era:hover + li {
  border-top-color: #9d5cd0;
}

.catalog__era-active {
  border-top-color: #9d5cd0;
}

.catalog__history {
  margin-bottom: 15px;
}

.catalog__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9d5cd0;
}

.ui-accordion-header-icon {
  display: none;
}

.catalog-desc__content {
  display: flex;
  align-items: center;
}

.catalog-desc__picture {
  margin-right: 24px;
  padding: 12px;
  width: 275px;
  height: 189px;
  border: 2px solid #999999;
}

.catalog-desc__inside {
  width: 100%;
  height: 100%;
  background-color: #999999;
}

.catalog-desc__info {
  display: flex;
  flex-direction: column;
}

.catalog-desc__empty {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.catalog-desc__nonetext {
  margin-bottom: 5px;
  max-width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.catalog-desc__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9d5cd0;
  outline: none;
}


.events__container {
  position: relative;
}

.events__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1600px;
  overflow: hidden;
}

.events__button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  outline: none;
}

.events__button-next {
  right: 50px;
  transform: translate(50%, 50%);
}

.events__button-prev {
  left: 50px;
  transform: translate(-50%, 50%) rotate(180deg);
}

.events__button-next.swiper-button-disabled,
.events__button-prev.swiper-button-disabled {
  opacity: 0;
}

.events__border,
.events__fill {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.events__button:focus .events__border {
  stroke-width: 2px;
  stroke: #9d5cd0;
}

.events__button:hover .events__border {
  stroke: #d1a9f0;
}

.events__button:hover .events__fill {
  fill: #d1a9f0;
}

.events__button:active .events__border {
  stroke-width: 2px;
  stroke: #9d5cd0;
}

.events__button:active .events__fill {
  fill: #d1a9f0;
}

.events__card {
  max-width: 500px;
  min-height: 700px;
  padding-top: 300px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: top center;
}

.events__card-first {
  background-image: url("../img/events/events_first.jpg");
}

.events__card-second {
  background-image: url("../img/events/events_second.jpg");
}

.events__card-third {
  background-image: url("../img/events/events_third.jpg");
}

.events__card-fourth {
  background-image: url("../img/events/events_fourth.jpg");
}

.events__card-fiveth {
  background-image: url("../img/events/events_fiveth.jpg");
}

.events__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 13px 50px 42px;
  min-height: 400px;
  border: 1px solid #cacaca;
}

.events__place {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__date {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__subtitle {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.events__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.events__link {
  padding-bottom: 3px;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #9d5cd0;
  border-bottom: 1px solid #9d5cd0;
  outline: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.events__link:focus {
  background-color: #9d5cd0;
  color: #ffffff;
  border-color: white;
  box-shadow: 0 0 0 3px #9d5cd0;
}

.events__link:hover {
  color: #7943a4;
  border-color: #7943a4;
}

.events__link:active {
  color: #333333;
  border-color: #333333;
  background-color: transparent;
  box-shadow: none;
}

.events__pagination {
  display: none;
}

.events__btns {
  display: none;
}

.projects {
  padding: 80px 0;
}

.projects__text {
  max-width: 1080px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.projects-tooltip {
  position: relative;
  display: inline-block;
  outline: none;
}

.projects-tooltip__btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.projects-tooltip__btn-fill {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.projects-tooltip__btn-letter {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.projects-tooltip:focus .projects-tooltip__btn-fill {
  fill: #d1a9f0;
}

.projects-tooltip:hover .projects-tooltip__btn-fill {
  fill: #d1a9f0;
}

.projects-tooltip:active .projects-tooltip__btn-fill {
  fill: #9d5cd0;
}

.projects-tooltip:active .projects-tooltip__btn-letter {
  fill: #ffffff;
}

.projects-tooltip__text {
  position: absolute;
  left: -125px;
  bottom: 38px;
  display: block;
  padding: 8px 11px;
  width: 264px;
  min-height: 34px;
  background: #9d5cd0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  visibility: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: visibility;
}

.projects-tooltip:focus .projects-tooltip__text,
.projects-tooltip:hover .projects-tooltip__text,
.projects-tooltip:hover .projects-tooltip__active {
  visibility: visible;
}

.projects-tooltip__text::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  bottom: -7px;
  left: 126px;
  background-color: #9d5cd0;
  transform: rotate(45deg);
}

.projects__link {
  color: #9d5cd0;
  outline: none;
  background-color: transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.projects__link:focus {
  background-color: #9d5cd0;
  color: #ffffff;
  box-shadow: 0 0 0 3px #9d5cd0;
}

.projects__link:hover {
  border-bottom: 1px solid #9d5cd0;
}

.projects__link:active {
  color: #7943a4;
  border-bottom: 1px solid #7943a4;
  background-color: transparent;
  box-shadow: none;
}

.projects__subtitle {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.projects__content {
  position: relative;
}

.projects__container {
  display: flex;
  align-items: center;
  margin: 0 75px;
  max-width: 1450px;
  overflow: hidden;
}

.projects__btn {
  border-radius: 50%;
  outline: none;
}

.projects__btn-prev {
  left: 0;
  margin-right: 45px;
}

.projects__btn-next {
  right: 0;
}

.projects__border,
.projects__fill {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.projects__btn:focus .projects__border {
  stroke: #9d5cd0;
  stroke-width: 2px;
}

.projects__btn:hover .projects__border {
  stroke: #d1a9f0;
}

.projects__btn:hover .projects__fill {
  fill: #d1a9f0;
}

.projects__btn:active .projects__border {
  stroke: #9d5cd0;
  stroke-width: 2px;
}

.projects__btn:active .projects__fill {
  fill: #d1a9f0;
}

.projects__companies {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.projects__company {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border: none;
  background-color: transparent;
  border: 1px solid #cacaca;
  outline: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.projects__company:focus {
  border: 1px solid #9d5cd0;
}

.projects__company:hover {
  border: 1px solid #cacaca;
}

.projects__company:hover .projects__logo {
  filter: grayscale(0) opacity(1);
}

.projects__company:active {
  border: 1px solid #9d5cd0;
}

.projects__company:active .projects__logo {
  filter: grayscale(0) opacity(1);
}

.projects__logo {
  filter: grayscale(1) opacity(0.5);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.contacts__content {
  padding: 38px 0;
  border: 1px solid #cacaca;
}

.contacts__info {
  display: flex;
  align-items: center;
}

.contacts__adress {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.contacts__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__street {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.contacts__form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 80px;
}

.contacts__wrap {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
  max-width: 270px;
  flex-grow: 1;
}

.js-validate-error-label {
  position: absolute;
  top: -18px;
  left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #d11616 !important;
}

.contacts__input {
  width: 100%;
  max-height: 50px;
  border: 1px solid #333333;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  background-color: transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  outline: none;
}

.js-validate-error-field {
  border-color: #d11616 !important;
  color: #999999 !important;
}

.contacts__input:focus {
  background: #ececec;
}

.contacts__input:hover {
  background: #ececec;
}

.contacts__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.contacts__input-name {
  padding: 7px 43px 7px 24px;
}

.contacts__input-phone {
  padding: 7px 33px 7px 24px;
}

.contacts__btn {
  flex-grow: 1;
  max-width: 329px;
  padding: 11px 19px;
  background-color: transparent;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #9d5cd0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  
}

.contacts__btn:focus-visible {
  outline-offset: 5px;
  outline: 2px solid #c283f3;
}

.contacts__btn:hover:not(:focus-visible) {
  outline: none;
  background-color: #9d5cd0;
  color: white;
}

.contacts__btn:active,
.contacts__btn:active:not(:focus-visible) {
  background-color: #9d5cd0;
  color: white;
  box-shadow: 0 0 0 3px #d1a9f0;
  outline: none;
}

.contacts__links {
  display: flex;
  flex-direction: column;
}

.contacts__heading-call {
  margin-bottom: 5px;
}

.contacts__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts__link {
  height: 40px;
  border-radius: 100%;
  outline: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.contacts__link:focus {
  opacity: 0.5;
}

.contacts__link:hover {
  opacity: 0.5;
}

.contacts__border {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.contacts__link:active .contacts__border {
  stroke: #9d5cd0;
  stroke-width: 1px;
  opacity: 1;
}

.contacts__link:not(:last-child) {
  margin-right: 20px;
}

.contacts__map {
  width: 100%;
  height: 698px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.socials {
  padding: 47px 0 48px 0;
  background-color: #000000;
}

.socials__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__links {
  display: flex;
  align-items: center;
}

.socials__item {
  display: flex;
}

.socials__link {
  height: 45px;
  outline: none;
}

.socials__fill {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.socials__link:focus .socials__fill {
  fill: #fff;
}

.socials__link:hover .socials__fill {
  fill: #fff;
}

.socials__link:active .socials__fill {
  fill: #9d5cd0;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1600px) {
  .choices {
    width: 280px;
  }

  .contacts__form {
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__info {
    align-items: flex-start;
    flex-direction: column;
  }

  .contacts__btn {
    max-width: 343px;
  }
}

@media (max-width: 1440px) {
  .menu-top {
    padding: 28px 0;
  }

  .menu__btn {
    position: relative;
    width: 36px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    outline: none;
    z-index: 3;
  }

  .menu__btn-open {
    width: 29px;
  }

  .menu__btn > span {
    width: 28px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #fff;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    width: 36px;
    bottom: 12px;
  }

  .menu__btn > span::after {
    content: "";
    width: 24px;
    top: 12px;
  }

  .menu__btn-open > span {
    transform: rotate(45deg);
  }

  .menu__btn-open > span::before {
    top: 0;
    width: 100%;
    transform: rotate(0);
  }

  .menu__btn-open > span::after {
    top: 0;
    width: 100%;
    transform: rotate(90deg);
  }

  .menu__btn-open > span,
  .menu__btn-open > span::before,
  .menu__btn-open > span::after {
    transition-duration: 0.25s;
  }

  .menu__btn:focus > span,
  .menu__btn:focus > span::before,
  .menu__btn:focus > span::after {
    background-color: #9d5cd0;
  }

  .menu__btn:hover > span,
  .menu__btn:hover > span::before,
  .menu__btn:hover > span::after {
    background-color: #9d5cd0;
  }

  .menu__btn:active > span,
  .menu__btn:active > span::before,
  .menu__btn:active > span::after {
    background-color: #7943a4;
  }

  .menu-bottom {
    display: none;
  }

  .menu-top__bar {
    display: none;
  }

  .menu-top__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 97px 50px 50px;
    background: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    transform: translateX(-150%);
    transition: visibility 0.3s ease-in, transform 0.3s ease-in;
  }

  .menu-top__bar-active {
    visibility: visible;
    transform: none;
  }

  .menu-top__links {
    flex-direction: column;
  }

  .menu-top__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: #ffffff;
  }

  .menu-top__auth {
    padding: 16px 88px 16px;
    background-color: transparent;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
  }

  .menu-top__main {
    outline: none;
    margin: 0;
  }

  .menu-top__search {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .menu-top__form {
    position: absolute;
    right: 0;
    display: flex;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.3s;
  }

  .menu-top__form-active {
    visibility: visible;
    opacity: 1;
  }

  .subscribe {
    padding: 205px 0 113px;
  }

  .subscribe__title {
    margin-bottom: -9px;
  }

  .subscribe__text {
    max-width: 661px;
    margin-bottom: 133px;
  }

  .gallery {
    padding: 80px 0 43px;
  }

  .gallery-left__info {
    margin-bottom: 106px;
  }

  .catalog__name {
    margin-bottom: 12px;
  }

  .catalog-desc {
    padding: 25px 0;
  }

  .catalog-desc__list {
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0 55px;
  }

  .empty-block {
    columns: auto;
  }

  .catalog-desc__picture {
    width: 189px;
    height: 130px;
  }

  .catalog-desc__nonetext {
    max-width: 207px;
  }

  .events__title {
    margin-bottom: 17px;
  }

  .events__card {
    margin-bottom: 30px;
    padding-top: 200px;
    min-height: 683px;
    background-size: 100% 200px;
  }

  .events__card-first {
    background-image: url("../img/events/290/events_290_1.jpg");
  }

  .events__card-second {
    background-image: url("../img/events/290/events_290_2.jpg");
  }

  .events__card-third {
    background-image: url("../img/events/290/events_290_3.jpg");
  }

  .events__card-fourth {
    background-image: url("../img/events/290/events_290_4.jpg");
  }

  .events__card-fiveth {
    background-image: url("../img/events/290/events_290_5.jpg");
  }

  .events__info {
    padding: 13px 33px 53px 34px;
    min-height: 483px;
  }

  .events__place,
  .events__date {
    font-weight: 400;
    text-align: right;
  }

  .events__date {
    margin-bottom: 5px;
  }

  .events__subtitle {
    margin-bottom: 5px;
  }

  .events__pagination {
    position: static;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }

  .events__button {
    display: none;
  }

  .events__btns {
    display: flex;
    justify-content: center;
  }

  .events__btn {
    width: 10px;
    height: 10px;
    background-color: #cacaca;
    border-radius: 100%;
    border: none;
    cursor: pointer;
  }

  .events__btn:nth-child(1) {
    margin-right: 15px;
  }

  .events__btn:last-child {
    display: none;
  }

  .events__btn-checked {
    background-color: #666666;
  }

  .projects-tooltip__text::after {
    content: none;
  }

  .projects__companies {
    margin-right: 23px;
  }

  .projects__btn-prev {
    margin-right: 23px;
  }

  .contacts__heading {
    margin-bottom: 13px;
  }

  .contacts__street {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__heading-call {
    margin-bottom: 6px;
  }

  .socials__link {
    width: 60px;
    height: 60px;
  }

  .socials__social {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {

  .subscribe__slide-first{
    background-image: url("../img/background/subscribe-lg.jpg");
  }
  
  .subscribe__slide-second{
    background-image: url("../img/background/subscribe2-lg.jpg");
  }
  
  .subscribe__slide-third{
    background-image: url("../img/background/subscribe3-lg.jpg");
  }

  .choices {
    max-width: 280px;
  }

  .gallery-modal__content {
    max-width: 594px;
    min-height: 594px;
    padding-left: 264px;
    background-image: url("../img/gallery/modal/gallery_malevich-lg.jpg");
  }

  .gallery-left {
    max-width: 280px;
  }

  .projects__container {
    margin: 0 53px;
  }

  .projects__company {
    height: 128px;
  }

  .projects__logo {
    width: 55%;
  }

  .projects__logo-fourth {
    height: 80%;
  }

  .contacts__map {
    width: 100%;
    height: 705px;
  }

  .socials {
    padding: 40px 0;
  }
}

@media (max-width: 992px) {
  .menu-top__form {
    width: 100%;
    z-index: 100;
    padding: 15px 52px;
  }

  .menu-top__input {
    width: 100%;
  }

  .gallery__content {
    flex-direction: column;
  }

  .choices {
    max-width: 281px;
  }

  .gallery-modal__content {
    max-width: 668px;
    min-height: 594px;
    padding-left: 301px;
    background-image: url("../img/gallery/modal/gallery_malevich-md.jpg");
  }

  .gallery-modal__info {
    padding: 122px 36px 122px 50px;
  }

  .gallery-left {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .gallery-left__info {
    margin-bottom: 40px;
  }

  .gallery-right__images {
    margin: 0;
  }

  .gallery-right__images {
    max-width: 100%;
  }

  .gallery-right__buttons {
    padding: 0;
  }

  .gallery-right__button {
    width: 30px;
  }
  .contacts__form {
    flex-wrap: wrap;
  }

  .contacts__wrap {
    margin-bottom: 12px;
  }

  .contacts__wrap:nth-child(2) {
    margin-right: 0;
  }

  .contacts__btn {
    max-width: 50%;
    width: 50%;
  }

  .catalog__content {
    flex-direction: column;
  }

  .catalog__left,
  .catalog__right {
    width: 100%;
  }

  .catalog__right {
    order: -1;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .catalog-desc__list {
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 0 59px;
  }

  .accordion {
    margin-bottom: 49px;
  }

  .catalog__photo {
    margin-bottom: 20px;
  }

  .catalog__name {
    margin-bottom: 9px;
  }

  .catalog__lives {
    margin-bottom: 6px;
  }

  .empty-block {
    columns: auto;
  }

  .catalog-desc__picture {
    width: 275px;
    height: 189px;
  }

  .events__card-first {
    background-image: url("../img/events/md/events_md1.jpg");
  }

  .events__card-second {
    background-image: url("../img/events/md/events_md2.jpg");
  }

  .events__card-third {
    background-image: url("../img/events/md/events_md3.jpg");
  }

  .events__card-fourth {
    background-image: url("../img/events/md/events_md4.jpg");
  }

  .events__card-fiveth {
    background-image: url("../img/events/md/events_md5.jpg");
  }

  .events__btn:nth-child(2) {
    margin-right: 15px;
  }

  .events__btn:last-child {
    display: flex;
  }

  .projects__text {
    margin-bottom: 27px;
  }

  .projects__subtitle {
    margin-bottom: 28px;
  }

  .contacts__content {
    padding: 42px 0;
  }

  .socials {
    padding: 42px 0;
  }

  .gallery-right__image {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .subscribe__slide-first{
    background-image: url("../img/background/subscribe1-md.jpg");
  }
  
  .subscribe__slide-second{
    background-image: url("../img/background/subscribe2-md.jpg");
  }
  
  .subscribe__slide-third{
    background-image: url("../img/background/subscribe3-md.jpg");
  }

  .gallery {
    padding: 80px 0 57px;
  }

  .gallery-right__image {
    max-width: 315px;
  }

  .events__card {
    max-width: 317px;
  }

  .events__date{
    margin-bottom: 0;
  }

  .contacts__wrap {
    max-width: 324px;
  }

  .contacts__btn {
    max-width: 316px;
  }

  .events__info {
    padding: 13px 18px 53px 34px;
  }

  .events__subtitle {
    max-width: 222px;
  }

  .events__text {
    max-width: 228px;
  }

  .projects__company {
    height: 106px;
  }

  .projects__logo {
    width: 80%;
  }

  .contacts__map {
    height: 699px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .menu-top {
    padding: 11px 0 9px;
  }

  .menu__btn {
    width: 25px;
    height: 18px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    height: 2px;
  }

  .menu__btn > span::before {
    width: 25px;
    bottom: 9px;
  }

  .menu__btn-open > span::before {
    width: 15px;
  }

  .menu__btn > span {
    width: 16px;
  }

  .menu__btn > span::after {
    width: 10px;
    top: 9px;
  }

  .menu__btn-open > span::after {
    width: 15px;
    top: 0;
  }

  .menu-top__bar {
    padding: 47px 15px 26px;
  }

  .menu-top__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  .menu-top__mg {
    width: 18px;
    height: 18px;
  }

  .menu-top__auth {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 11px 31px;
  }

  .menu-top__authpic {
    margin-right: 4px;
    width: 9px;
    height: 9px;
  }

  .menu-top__form {
    padding: 2px 15px;
  }

  .subscribe {
    padding: 75px 0 45px;
  }

  .subscribe__content {
    align-items: center;
  }

  .subscribe__title {
    margin-bottom: 3px;
    max-width: 258px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .subscribe__text {
    margin-bottom: 41px;
    max-width: 265px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .subscribe__btn {
    padding: 12px 19px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
  }

  .subtitle {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about {
    padding: 50px 0 41px;
  }

  .about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding: 50px 0 47px;
  }

  .gallery-modal__content {
    max-width: 290px;
    min-height: 600px;
    padding: 0;
    padding-top: 200px;
    background-image: url("../img/gallery/modal/gallery_malevich-sm.jpg");
    background-position: top center;
  }

  .gallery-modal__info {
    padding: 17px 20px;
  }

  .gallery-modal__ages {
    margin-bottom: 12px;
  }

  .gallery-left {
    margin-bottom: 30px;
    max-width: 100%;
  }

  .gallery-left__filter {
    margin-bottom: 5px;
  }


  .choices {
    max-width: 100%;
    width: 100%;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    background-color: #000000;
  }

  .gallery-left__info {
    margin-bottom: 30px;
  }

  .gallery-right__images {
    order: -1;
    margin: 0 auto;
    max-width: 290px;
  }

  .gallery-right__image {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  .gallery__wrapper {
    margin-bottom: 20px;
    height: 367px;
  }

  .gallery__wrap {
    position: relative;
    max-width: 290px;
    margin: 0 auto;
  }

  .gallery__wrap::after {
    max-width: 290px;
    max-height: 367px;
  }

  .gallery__wrap::before {
    inset: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    height: 310px;
  }

  .gallery-right__picture-six {
    height: 367px;
  }

  .gallery-right__buttons {
    order: 1;
    justify-content: center;
    margin-bottom: 0;
  }

  .catalog {
    padding: 50px 0;
  }

  .catalog__subtitle {
    margin-bottom: 10px;
  }

  .catalog__text {
    display: none;
  }

  .catalog__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .catalog-btn {
    width: 30px;
    height: 30px;
  }

  .catalog__info {
    padding: 20px 0;
  }

  .catalog-desc {
    padding: 20px 0;
  }

  .catalog-desc__list {
    grid-auto-flow: row;
    grid-gap: 0;
  }

  .catalog-desc__author {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .catalog-desc__picture {
    padding: 6px;
    width: 90px;
    height: 130px;
  }

  .catalog-desc__empty {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog__lives {
    margin-bottom: 12px;
  }

  .events__content {
    margin-bottom: 20px;
  }

  .events__card {
    margin-bottom: 20px;
    padding-top: 200px;
    max-width: 100%;
  }

  .events__card-first {
    background-image: url("../img/events/290/events_290_1.jpg");
  }

  .events__card-second {
    background-image: url("../img/events/290/events_290_2.jpg");
  }

  .events__card-third {
    background-image: url("../img/events/290/events_290_3.jpg");
  }

  .events__card-fourth {
    background-image: url("../img/events/290/events_290_4.jpg");
  }

  .events__card-fiveth {
    background-image: url("../img/events/290/events_290_5.jpg");
  }

  .events__info {
    padding: 16px 17px 53px 22px;
  }

  .events__date {
    margin-bottom: 10px;
  }

  .events__subtitle {
    max-width: 100%;
  }

  .events__text {
    max-width: 100%;
  }

  .events__link {
    margin-left: 6px;
  }

  .projects {
    padding: 30px 0 50px;
  }

  .projects__text {
    word-spacing: 5px;
    margin-bottom: 50px;
  }

  .projects__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .projects__container {
    margin: 0 47px;
  }

  .projects__company {
    height: 65px;
  }

  .projects__logo {
    width: 55%;
  }

  .projects__logo-fiveth {
    height: 80%;
  }

  .projects__subtitle {
    margin-bottom: 12px;
  }

  .projects-tooltip__text {
    width: unset;
    max-width: 264px;
  }

  .contacts__content {
    border: none;
    padding: 0;
    padding-bottom: 20px;
  }

  .contacts__heading {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__heading-call {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .contacts__adress {
    margin-right: 0;
  }

  .contacts__street {
    margin-bottom: 20px;
  }

  .contacts__form {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .contacts__wrap {
    margin: 0;
    margin-bottom: 20px;
  }

  .contacts__input {
    padding: 3px 43px 3px 24px;
  }

  .contacts__input-name {
    margin-right: 0;
  }

  .contacts__call {
    display: none;
  }

  .contacts__btn {
    padding: 9px 25px;
    max-width: 128px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__form {
    align-items:initial;
    margin-bottom: 22px;
  }

  .contacts__link {
    width: 50px;
    height: 50px;
  }

  .contacts__pic {
    width: 50px;
    height: 50px;
  }

  .contacts__map {
    height: 320px;
  }

  .socials {
    padding: 20px 0;
  }

  .socials__content {
    flex-direction: column;
  }

  .socials__logo {
    width: 97px;
    height: 22px;
  }
  .socials__links {
    order: -1;
    margin-bottom: 20px;
  }

  .socials__link {
    width: 50px;
    height: 50px;
  }
}
